* {
	--font-logo: 'Contrail One', cursive;
	--font-main: 'Rajdhani', sans-serif;

	--color-button: #a43acb;
	--color-main: #e9dfe0;
	--color-white: #fff;
	--color-transparent: transparent;
	--color-shadow: rgb(0,0,0,0.2);

	--color-1:#e9dfe0;
	--color-2:#a43acb;
	--color-3:#4a15f7;
	--color-4:#0e0a18;

	--color-gray: #a2a2a2;
	--color-text-dark-blue: #0e0a18;

  --color-price: var(--color-3);

  --color-hover-inner: var(--color-3);
	--color-hover: var(--color-1);

	--font-size-button: 1.4rem;
	--font-size-input:1.1rem;
	--font-size-label:0.9rem;
	--font-size-logo: 2.5rem;
	--font-size-header: 1.6rem;
	--font-size-option-menu: 1.5rem;

	--font-size-main: 1rem;
	--font-size-price: 1.7rem;

	--font-weight-bold: 600;
	--font-weight-small: 400;

	--radio-button: 70px;
	--radio-min: 10px;

	--padding-menu: 15px;
	--padding-window: 20px;

  --size-icon: 2.8rem;
  --size-header: calc( var( --size-icon ) * 0.8 );

	--openingTrack: calc( 7 * var( --font-size-option-menu ) );

	--text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
	--text-shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.65);
	--shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.45);
	--shadow-hover: 0px 1px 8px 2px rgba(0, 0, 0, 0.45);

	box-sizing: border-box;
}



body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	
	font-family: var(--font-family-main);
	
}

.root{  
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100vw;
	height: 100vh;

	font-family: var(--font-main);
	font-size: var(--font-size-main);
}