* {
	--font-logo: 'Contrail One', cursive;
	--font-main: 'Rajdhani', sans-serif;
	
/* 	--color-1:#d3c4df;
	--color-2:#7B61FF; 
	--color-3:#43414e;
	--color-4:#a43acb;
	--color-white: #fff;
	 */


	--color-1: #C4C4C4;
	--color-2: #4b566b;
	--color-3: #232836; 
	--color-4: #ed5d5f; /* main color  */
	--color-white: #e4e2e2; /*  base color */
	--color-black: rgb(20, 20, 20);

	--color-gray: #a2a2a2;
	--color-transparent: transparent;	

  --color-price: var(--color-4);
	--color-hover: var(--color-2);
  --color-border:var(--color-3);
	--color-button: var(--color-2);
  --color-hover-inner: var(--color-3);

	--color-text-dark-blue: #0e0a18;
	--color-error: red;

	--text-color-main: var(--color-white);
	--text-color-plain: var(--color-1);
		

	--font-size-button: 1.4rem;
	--font-size-input:1.4rem;

	--font-size-label:0.9rem;
	--font-size-logo: 2.5rem;
	--font-size-header: 1.6rem;
	--font-size-option-menu: 1.5rem;

	--font-size-main: 1rem;
	--font-size-price: 1.7rem;

	--font-weight-bold: bold;
	--font-weight-regular: 600;
	--font-weight-small: 500;


	--height-button-login: 3rem;
	--radius-button-login: 1.5rem;

	--radius-main: 22px;
	--radius-min: 12px;

	--padding-menu: 8px;
	--padding-window: 20px;

  --size-icon: 2.8rem;
  --size-header: calc( var( --size-icon ) * 0.8 );

	--openingTrack: calc( 8 * var( --font-size-option-menu ) );

	--shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.45);
	--text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
	--shadow-hover: 0px 1px 8px 2px rgba(0, 0, 0, 0.45);
	--text-shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.65);

	--image:url("../../assets/img/layoutDesktop.png");
	box-sizing: border-box;
}



body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	
	font-family: var(--font-family-main);
	background-color: var(--color-1);
	
}

.root{  
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100vw;
	height: 100vh;

	font-family: var(--font-main);
	font-size: var(--font-size-main);
	
}
